<%- include('partials/header'); -%>
  <div class="container maketest">
    <h1>SAE NIT KURUKSHETRA</h1>
    <form method=POST action = "/process_ques"  class="new_test">
      <div class="ques">
        No of ques: <input type="text" class = "number" name ="number" style="width:30px; border:0px;" value="1"/>
      <div class="ques1">
        Q1)
        <textarea name ="ques1_body" placheolder="Type your question..." class="ques_body"></textarea>
        <br>
        <div class="ques_type">
          <input type="radio" name="ques1_opt" value="objective" onclick="ques_type_ob(1)">
          <label class="objective" for="ques1_opt">Objective</label>
          <label for="num-options" class="choices ques1_choices">Choices</label>
          <select class="num-options  ques1_num_options" name="ques1_num_options" onclick="num_options_selection(1)">
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <div class="ob-options ques1_ob_options">

          </div>
            <br>
          <input type="radio" name="ques1_opt" value="subjective" onclick="ques_type_sub(1)">
          <label for="sub">Subjective</label><br>
        </div>
      </div>
      </div>
      <div class="test_details" style="margin-bottom:50px;">
        <label for="code">Code of test</label>
        <input style="width:150px;" name="code" required/>
        <label style="margin-left:20px;" for="time">Total Time(in mins.)</label>
        <input style="width:150px;" type = "tel" name="time" onkeypress="return isNumberKey(event)" required/>
      </div>
      <button type="submit" class="final_gen_test">Create</button>
      <a class="add_ques" onclick="add_ques()"><i style = "font-size:35px;color:white;" class="fa fa-plus" aria-hidden="true"></i></a>
    </form>
  </div>
<%- include('partials/footer'); -%>
