<!DOCTYPE html>
<html>
<head>
	<title> Test Generator </title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/assets/css/util.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/main1.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="fluid-container message-log" >
	<div class="msg">
	<% if(messages.error){ %>
		<div class="alert alert-danger" style="text-align: center;margin:0px; margin-top:52px;"><%= messages.error %></div>
	<% } %>
	<% if(messages.success){ %>
		<div class="alert alert-success" style="text-align: center;margin:0px; margin-top:52px;"><%= messages.success %></div>
	<% } %>
</div>
<script>
	setTimeout(function(){
		document.querySelector(".message-log").style.display = 'none';
	}, 3000);
</script>
	</div>
